/* FOOTER */
#footer {           
    color: white;
    text-align: center;

}
.footer {
  background-color: #333;
  color: white;
  height: 100px; /* set the height of the footer */
  /*position: fixed; /* position the footer TÄÄ ESTÄÄ SIVUN SCROLLAAMISEN */
  bottom: 0; /* place the footer at the bottom of the page */
  width: 100%;
}

html,
body {
  height: 100%;
}

.container {
  max-height: calc(100vh - 200px); /* Set max-height to 100% viewport height minus some extra padding */
  overflow-y: auto; /* Add vertical scroll if content overflows container */
  overflow-x: hidden;
}

.container-index {
  position: relative;
  max-height: calc(100vh - 130px);
}

/* Ylärivi headerissa */
.ylarivi {
  color: white;
  margin-left: 30px;
  padding: 5px;
}

@media (max-width: 768px) {
  .ylarivi {
    display: none;
  }
}
/*
.ylarivi {
  color: white;
  margin-left: 100px;
  position: relative;
  animation-name: move;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

}
*/
@keyframes move {
  0% {
    left: 100%; /* Start position */
  }
  100% {
    left: -100%; /* End position */
  }
}

/* Taustakuva */
.container-index::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/container3.jpg");
  background-size: cover; /* change the value of background-size here */
  background-repeat: no-repeat;
  background-position: top center;
  opacity: 0.5; /* Adjust the opacity as desired */
}


.indextext {
  position: relative;
  z-index: 1;
  color: white;
}

/* Yhteydenottolomake */
.yhtform {
  position: relative;
  z-index: 1;
  color: white;
}


@media (max-width: 768px) {
  .indextext {
    padding-left: 8%;
    padding-top: 15%;
  }
}

@media (min-width: 768px) {
  .indextext {
    padding-left: 5%;
  }
}

.container {
  position: relative;
  z-index: 2;
}

.row {
  position: relative;
  z-index: 2;
}

.login {
  position: relative;
  z-index: 2;
}

/* Paneelitaustat */
.container-paneeli {
  height: 100vh;
}

.container-paneeli {
  position: relative;
}
.container-paneeli::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/container.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.5; /* Adjust the opacity as desired */
}

/* NAVBAR */
.nav-link {
    color: white !important;
}
/* Kirjautumis sivu */

/* vikailmoitus BTN muokkaukset  */
#vikailmoitusBtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 150px;
    width: 250px;
    font-size: 18px;
    font-weight: bold;
    border: black solid 4px;
    background-color: bisque;
    border-radius: 10px;
    }

#vikailmoitusBtn:hover {
    background-color: lightblue;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.5);
}

.tyontekijaRivi {
  display: flex;
  justify-content: center;
}


.tyontekijaBtn {
  height: 150px;
  width: 250px;
  font-size: 18px;
  font-weight: bold;
  border: black solid 4px;
  background-color: rgb(196, 212, 255);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tyontekijaBtn:hover {
  background-color: lightblue;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.5);
}


         
.btn-grad {
  background-image: linear-gradient(to right, #e52d27 0%, #b31217  51%, #e52d27  100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 2px #eee;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; /* Adjust the height as desired */
  
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.btn-grad2 {
  background-image: linear-gradient(to right, #232526 0%, #414345  51%, #232526  100%);
  margin: 10px;
  width: 270px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  border-radius: 10px;
  display: block;
}

.btn-grad2:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.btn-large {
  padding: 15px 45px;
  max-width: 350px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  border-radius: 0 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}

/* eri buttoneita täältä https://gradientbuttons.colorion.co/ */

.underline {
  text-decoration: none;
  border: solid 1px black;
  border-radius: 10px;
}
/* Yhteydenotto Sivu ja kirjautumissivu*/
#yhteysNimi, #yhteysEmail, #yhteysPuhelinnro, #yhteysOtsikko, #yhteysAsia, #vikaAsia, #vikaOtsikko, #kirjautuminenPsw, #kirjautuminenEmail {
  border: 1px solid rgb(0, 0, 0) !important;
  border-radius: 20px;
  padding: 10px;
}

#contactBg, #vikaBg, #kirjautuminenBg{
  border-radius: 30px !important;
  /*border: 3px solid rgb(144, 238, 202) !important;*/
}

.inputSarake {
  border: 1px solid black !important;
  border-radius: 20px;
  padding: 10px;
}

.inputBg{
  border-radius: 30px !important;
  
}

body {
  background-color: rgb(0, 0, 0);
}

.container {
  background-color: white;
}

.cont-image {
  opacity: 0.7;
  margin-right: 0;
}

.gradient-circle {
  width: 65px;
  height: 65px;
  background: rgb(123, 255, 0);
  background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%); 
  border-radius: 50%;
  text-align: center;
  margin: 0 auto;
}

.centerDiv {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pyoristys {
  border-radius: 30px!important;
  
}

#logo {
  height: 110px;
  width: 330px;
}

.valkTekst {
  color: white;
}

/* asukasRekisteröinti.php */
@media only screen and (max-width: 768px) {
  .form-signin {

    width: 100%;
  }
}

@media only screen and (min-width: 769px) {
  .form-signin {
    max-width: 50%;
    width: 100%;
  }
}
/* ------------------------- */

.btn-success {
  background-color: green;
  color: white;
}
