/* FOOTER */
#footer {           
    color: white;
    text-align: center;

}
.footer {
  background-color: #333;
  color: white;
  height: 100px; /* set the height of the footer */
  position: fixed; /* position the footer */
  bottom: 0; /* place the footer at the bottom of the page */
  width: 100%;
}

html,
body {
  height: 100%;
}

.container-index {
  height: 100vh;
}

h3, h1 {
  text-shadow:
    -1px -1px 0 #808080,  
     1px -1px 0 #808080,
    -1px 1px 0 #808080,
     1px 1px 0 #808080;  
}

.container-index {
  background-image: url("https://cdn.pixabay.com/photo/2019/01/10/20/54/building-maintenance-3926053_960_720.jpg");
  background-size: cover;
}


/* NAVBAR */
.nav-link {
    color: white !important;
}
/* Kirjautumis sivu */

/* vikailmoitus BTN muokkaukset  */
#vikailmoitusBtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 150px;
    width: 250px;
    font-size: 18px;
    font-weight: bold;
    border: black solid 4px;
    background-color: bisque;
    border-radius: 10px;
    }

#vikailmoitusBtn:hover {
    background-color: lightblue;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.5);
}

.tyontekijaRivi {
    display: flex;
    justify-content: center;
  }
  
  
  .tyontekijaBtn {
    height: 150px;
    width: 250px;
    font-size: 18px;
    font-weight: bold;
    border: black solid 4px;
    background-color: rgb(196, 212, 255);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .tyontekijaBtn:hover {
    background-color: lightblue;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.5);
  }

           
  .btn-grad {
    background-image: linear-gradient(to right, #485563 0%, #29323c  51%, #485563  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }

  .btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }


  .btn-grad2 {
    background-image: linear-gradient(to right, #232526 0%, #414345  51%, #232526  100%);
    margin: 10px;
    width: 270px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    border-radius: 10px;
    display: block;
  }

  .btn-grad2:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 
 /* eri buttoneita täältä https://gradientbuttons.colorion.co/ */

  .underline {
    text-decoration: none;
  }
  /* Yhteydenotto Sivu ja kirjautumissivu*/
  #yhteysNimi, #yhteysEmail, #yhteysPuhelinnro, #yhteysOtsikko, #yhteysAsia, #vikaAsia, #vikaOtsikko, #kirjautuminenPsw, #kirjautuminenEmail {
    border: 3px solid lightgreen !important;
    border-radius: 20px;
    padding: 10px;
  }

  #contactBg, #vikaBg, #kirjautuminenBg{
    border-radius: 30px !important;
    border: 3px solid lightgreen !important;
  }

  .inputSarake {
    border: 3px solid lightgreen !important;
    border-radius: 20px;
    padding: 10px;
  }

  .inputBg{
    border-radius: 30px !important;
    border: 3px solid lightgreen !important;
  }

  body {
    background-color: rgb(170, 170, 170);
  }

  .container {
    background-color: white;
  }

  .cont-image {
    opacity: 0.7;
    margin-right: 0;
  }

  .gradient-circle {
    width: 65px;
    height: 65px;
    background: rgb(121,140,140);
    background: radial-gradient(circle, rgba(121,140,140,1) 0%, rgba(5,20,20,1) 100%);
    border-radius: 50%;
    text-align: center;
    margin: 0 auto;
  }